* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 60px;
    line-height: 50px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    line-height: 64px;
}

h6 {
    font-weight: 720;
    font-size: 12px;
}

p {
    font-size: 22px;
    margin: 15px 0 20px 0;
    color: #6a6d6c;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}


/* Header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li { 
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;

}

#navbar li a.active::after ,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.logo {
    width: 225px;
    height: 50px;
}

/* Home page */

#hero {
    background-image: url("../images/demo_2.png");
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: top 25% right 0px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 2px;
}

#hero h1 {
    color:#2f2d52;
}

#hero p {
    margin-top: 15px;
}
#hero button {
    margin-top: 40px;
    background:#3e6fe6;
    color: white;
    border:0;
    /* padding: Top,right,bottom,left  */
    padding: 14px 32px 14px 28px; 
    border-radius: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* Feature Posts */

#feature .show_feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-top: 20px;
}
#feature .fe-box {
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7dc;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 8px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

/* Feature Product */
#products,
#top-courses{
    text-align: center;
}

/* Using Flexbox property */
/* #products .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
} */

 /* Using Grid Property use */
#products .pro-container,
#top-courses .pro-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding-top: 20px;
}
#products .pro,
#top-courses .pro {
    /* width: 22%;
    min-width: 250px; */
    padding: 10px 15px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#products .pro:hover,
#top-courses .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#products .pro img,
#top-courses .pro img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
}

#products .pro a,
#top-courses .pro a {
    text-decoration: none;
    color: inherit;
    display: block;
}
#products .pro .des,
#top-courses .pro .des{
    text-align: start;
    margin: 10px 0;
}
#products .pro .des span,
#top-courses .pro .des span{
    color: #606063;
    font-size: 12px;
}
#products .pro .des h5,
#top-courses .pro .des h5{
    padding-top: 10px;
    color: #1a1a1a;
    font-size: 14px;
}
#products .pro .des i,
#top-courses .pro .des i{
    font-size: 12px;
    color: rgba(243, 181, 25);
}
#products .pro .des h4,
#top-courses .pro .des h4{
    padding-top: 5px;
    font-size: 25px;
    font-weight: 700;
    color: #088178;
}


#products .pro .Cart,
#top-courses .pro .Cart{
    width: 75px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 900;
    color: #088178;
    position: absolute;
    right: 17px;
    bottom: 32px;
    text-align: center;
    font-size: 18px;
}

/* Banner */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/Middle_banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #ffff;
    font-size: 16px;
}

#banner h2 {
    color: #ffff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}

#banner button:hover {
    background: #088178;
    color: white;
}

/* Footer  */

footer {
  
    background: #f8f9ff;
    border-top: 1px solid #e0e3f0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .logo {
    margin-top: 45px;
}

footer .copyright {
    border-top: 1px solid #e0e3f0;
    padding: 12px 0 18px;
    margin-top: 45px;
    font-size: 22px;
    width: 100%;
    text-align: center;
}

footer .copyright p {
    color: black;
    margin-top: 20px;
}

footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

footer p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

footer a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

footer a:hover {
  color: #088178;
}


/* =======Meida Query ======== */

@media (max-width: 430px) {

    h1 {
    font-size: 18px;
    line-height: 20px;
    }

    h2 {
    font-size: 17px;
    line-height: 30px;
    }
    h4{
        font-size: 14px;
        line-height: 25px;
    }

    p {
    font-size: 8px;
    margin: 15px 0 10px 0;
    }

    .section-p1{
        padding: 20px 20px;
    }

    #header {
    padding: 12px;
    }
    .logo {
    width: 180px;
    height: 45px;
    }

    #hero {
    background-image: url(../images/demo_2.png);
    height: 30vh;
    padding: 0 12px;
    background-size: cover;
    margin-right: 10px;
    }
    #hero button {
    margin-top: 10px;
    background: #3e6fe6;
    color: white;
    border: 0;
    padding: 7px 16px 7px 14px;
    border-radius: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    }

    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -320px;
    height: 100vh;
    width: 310px;
    background-color: #e3e6f3;
    box-sizing: content-box;
    padding: 80px 0 0 10px;
    transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li {
        margin-bottom: 20px;
    }
    #mobile {
    display: flex;
    align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;

    }
    #lg-bag{
        display: none;
    }

    /* feature section */
    #feature .show_feature {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    }
    #feature .fe-box {
    width: 180px;
    text-align: center;
    padding-top: 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7dc;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 15px;
    }

    #products .pro-container,
    #top-courses .pro-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));  /* 2 column grid */
        gap: 12px;
    }

    #products .pro,
    #top-courses .pro {
        margin: 8px 0;
        padding: 8px 10px;
    }

    #products .pro img,
    #top-courses .pro img {
        height: 180px;
    }

    #products .pro .Cart,
    #top-courses .pro .Cart {
        width: 50px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        right: 10px;
        bottom: 20px;
    }

    #banner {
    height: 25vh;
    }

    /* footer section */
    footer {
        flex-direction: column;
        gap: 16px;
        padding: 20px;
    }

    footer .logo {
        margin-top: 10px;
        width: 180px;
        height: auto;
    }

    footer .col,
    footer .about,
    footer .follow {
        align-items: flex-start;
        width: 100%;
    }

    footer .copyright {
        margin-top: 10px;
        font-size: 14px;
        padding: 10px 0 14px;
    }


}