* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.course-page {
    display: flex;
    align-items: stretch;
}

/* LEFT SIDEBAR */
.sidebar {
    width: 240px;
    background: #f7f7f7;
    padding: 10px;
    position: sticky;
    min-height: 100vh;
    top: 0;
    border: none;
}

.sidebar h2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}

.sidebar ul li {
    list-style: none;
    padding: 12px;
    margin-bottom: 15px;
    background: #fff;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: 0.3s ease;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background: #8c52ff;
    color: #fff;
}

/* RIGHT SIDE COURSE GRID */
.courses {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.course-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding-bottom: 15px;
    transition: 0.3s ease;
    position: relative;
}

.course-card i {
    left: 10px;
    font-size: 12px;
    color: rgba(243, 181, 25);
}

.course-card  .buy_now {
    width: 100px;
    height: 40px;
    line-height: 32px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    position: absolute;
    right: 17px;
    bottom: 30px;
    text-align: center;
    font-size: 15px;
}

.course-card h4{
    color: #088178;
    margin-left: 15px;
    font-size: 20px;
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-card h3 {
    padding: 10px;
    font-size: 18px;
}

.course-card p {
    padding: 0 10px;
    color: #555;
    font-size: 14px;
}

.course-card:hover {
    transform: translateY(-5px);
}

/* Pagination button section  */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination a {
    padding: 8px 16px;
    background: #e8f6ea;
    border-radius: 6px;
    color: #088178;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #088178;
    transition: 0.3s;
}

.pagination a:hover {
    background: #088178;
    color: #fff;
}

.pagination .active {
    background: #088178;
    color: #fff;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .course-page {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 430px) {
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}

